<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BaiduTestSel" parallel="tests" thread-count="2">
	<test name="Baidu" verbose="2">
		<groups>
			<run>
				<include name = "BaiduTestGroup"></include>
			</run>
		</groups>
 		<classes>
		    <class name="BaiduTestCase.HomePageTestCase"/>
		</classes>
	</test>
</suite>